.screen-group {
  margin-bottom: 3px;
}

.screen {
  text-align: right;
  border: 0px;
  background: black;
  color: white;
  padding: 5px;
}

.screen1 {
  font-size: 1.5em;
}

.screen2 {
  font-size: 2em;
  color: blue;
}
